<app-masthead [mastheadData]="{backgroundImage: post?.mastheadImgUrl, title: post?.title, subtitle: post?.subtitle}">
    <p class="text-center text-light"><b class="text-muted text-white">Posted By</b>
        {{post?.author}}, <b class="text-muted text-white">Posted
            on</b> {{post?.timestamp}}</p>
</app-masthead>
<div class="container">
    <div class="card p-2">
        <div class="card-body">
            <div [innerHTML]="post?.html | safeHtml"></div>
        </div>
        <div class="card-footer">
            <button class="m-2 btn btn-primary btn-sm"><i class="fa fa-star"
                    (click)="addStarToPost(post?.id)"></i>{{post?.stars?.length || 0}}</button>
            <button [hidden]="!(loggedIn | async)" class="m-2 btn btn-dark btn-sm" (click)="editPostById(post?.id)"><i
                    class="fa fa-pencil"></i></button>
        </div>
    </div>
</div>