<app-masthead [mastheadData]={}></app-masthead>
<div class="container">
    <nav class="navbar navbar-light bg-transparent justify-content-end">
        <button class="btn btn-primary ml-1 mr-1" (click)="toggleTask('create')">Create <i class="fa fa-plus"
                aria-hidden="true"></i></button>
        <button class="btn btn-outline-secondary ml-1 mr-1" (click)="toggleTask('view')">Posts <i class="fa fa-list"
                aria-hidden="true"></i></button>
    </nav>

    <div [ngSwitch]="currentTask">
        <div *ngSwitchCase="'create'">
            <div class="card text-editor-wrapper animated slideInLeft">
                <div class="card-body">
                    <h4 class="card-title">Create New Post</h4>
                    <p class="card-text">Just shoot from the hip, and let it flow...</p>
                    <div class="form-group">
                        <label for="title">Post Title</label>
                        <input #title type="text" class="form-control" [(ngModel)]="newPost.title" name="title"
                            id="title" aria-describedby="titleHelp" placeholder="Post Title">
                        <small id="titleHelp" class="form-text text-muted">Enter A Title For Post</small>
                    </div>
                    <div class="form-group">
                        <label for="subtitle">Post Subtitle</label>
                        <input #subtitle type="text" class="form-control" [(ngModel)]="newPost.subtitle" name="subtitle"
                            id="subtitle" aria-describedby="subtitleHelp" placeholder="Post Subtitle">
                        <small id="subtitleHelp" class="form-text text-muted">Enter A Post Subtitle</small>
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Image Url</label>
                        <input #imgUrl [(ngModel)]="uploadedImages[0]" type="text" class="form-control" name="imageUrl"
                            id="imageUrl" aria-describedby="helpImg" placeholder="Image Url">
                        <small id="helpImg" class="form-text text-muted">Enter a relative image url for masthead</small>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input #isPrivate type="checkbox" class="form-check-input" [(ngModel)]="newPost.isPrivate"
                                name="privacy" id="privacy" value="true">
                            Private
                        </label>
                    </div>
                </div>
                <div class="card-content">
                    <div class="container" *ngIf="newPost?.images?.length">
                        <div class="col-md-3" *ngFor="let image of newPost?.images; let i = index;">
                            <img [src]="image.url" alt="image.filePath" class="img-thumbnail">
                        </div>
                    </div>
                    <app-text-editor #rtePost (imageUploaded)="uploadImage($event)"
                        (editorContentChanged)="getEditorContent($event)">
                    </app-text-editor>

                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-secondary m-2">Cancel</button>
                    <button [disabled]="!newPost?.html" class="btn btn-primary m-2">Save and Exit</button>
                    <button [disabled]="!newPost?.html" class="btn btn-success m-2"
                        (click)="publishNewPost(newPost)">Publish</button>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'view'">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title">Your Posts</h4>
                    <div class="form-group col-md-3">
                        <label for="filter">Filter Posts</label>
                        <select class="form-control" name="filter" id="filter">
                            <option>Date</option>
                            <option>Tag</option>
                            <option>Author</option>
                        </select>
                    </div>
                </div>
                <app-posts [currentAdmin]="'jimi'"></app-posts>
            </div>
        </div>
    </div>

</div>