<header class="masthead" [style.background-image]="'url(' + mastheadData?.backgroundImage + ')'">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading text-uppercase">
          <h1>{{ mastheadData?.title }}</h1>
          <span class="subheading text-uppercase">{{ mastheadData?.subtitle }}</span>
          <img [hidden]="!mastheadData?.iconOrThumb" [src]="mastheadData?.iconOrThumb" width="50" alt="" />
        </div>
        <div class="site-headeing-input">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</header>