<ejs-richtexteditor id="apiRTE" #apiRTE [toolbarSettings]="{type: 'Expand', items: ['Bold', 'Italic', 'Underline', 'StrikeThrough',
    'FontName', 'FontSize', 'FontColor', 'BackgroundColor',
    'LowerCase', 'UpperCase', '|',
    'Formats', 'Alignments', 'OrderedList', 'UnorderedList',
    'Outdent', 'Indent', '|',
    'CreateLink', 'Image', '|', 'ClearFormat', 'Print',
    'SourceCode', 'FullScreen', '|', 'Undo', 'Redo']
    }" [value]="htmlValue" (valueChange)="showNewValue($event)" [insertImageSettings]="insertImageSettings"
    [height]="500" (imageSelected)="uploadImage($event)" (imageRemoving)="removeImage($event)"
    (dialogClose)="uploadSuccess($event)">
    <ng-template #valueTemplate></ng-template>
</ejs-richtexteditor>